{% include "header.html" %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="paragraph">
          <p>Thank you for visiting my website.</p>
        </div>
        <div class="paragraph">
          <p>
            My audio journey began in middle school when I decided to splice
            together two takes for an audition recording, a move that went
            potentially unnoticed by my incredibly patient band director.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Following this spark of curiosity, I pursued my passion at Berklee
            College of Music, where I delved into music production and
            engineering while evolving my saxophone playing.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Upon relocating to Los Angeles, I dove face first into music
            studios. And after I cleaned enough toilets, I was able to hone my
            ears and skills and eventually collaborate with industry
            professionals.
          </p>
        </div>
        <div class="paragraph">
          <p>
            While making records is absolutely rad, it proved unsustainable for
            me. This journey eventually led me to accept a sponsored
            cross-country adventure, where a friend and I embarked on an 88-day
            journey from the Santa Monica Pier to Times Square, traversing by
            foot, rollerblades, and bicycles.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Returning to reality, I transitioned into working on TV and film
            projects, collaborating with top-tier artists across animation,
            live-action television, theatrical releases, and video games. These
            diverse experiences have shaped me into an analytical and
            performance-driven professional.
          </p>
        </div>
        <div class="paragraph">
          <p>
            In 2023, I embarked on a new journey into software development,
            leveraging my background in audio engineering to explore the dynamic
            intersection of technology and audio production.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{% include "footer.html" %}
