{% include "header.html" %}
<!-- Page Header-->
<header
  class="masthead"
  style="
    background-image: url('https://images.unsplash.com/photo-1570051008600-b34baa49e751?q=80&w=2085&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  "
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Kyle Gaffney</h1>
          <span class="subheading">Good Vocals and Bad Saxophone</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Body-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <p>
        I am an audio engineer and musician with a growing interest in software
        development. I have spent over a decade developing my skills in audio
        engineering in Los Angeles.
      </p>
      <p>
        I realized that in order to take over the world through saxophone, I
        needed to expand my skill set in software development. I recognized a
        potential synergy between audio engineering and technology. I am on the
        path to learning as much as I can to support this combination.
      </p>
    </div>
  </div>
</div>

{% include "footer.html" %}
